.#{$nb-namespace}o-flyout {
  position: relative;
  overflow: hidden;
}

.#{$nb-namespace}o-flyout__content {
  @include nb-visually-hidden;

  top: 100%;
  left: 0;
  z-index: 1;
}

.#{$nb-namespace}o-flyout__content--right {
  left: auto;
  right: 0;
}

.#{$nb-namespace}o-flyout__content--top {
  top: auto;
  bottom: 100%;
}

.#{$nb-namespace}o-flyout:hover,
.#{$nb-namespace}o-flyout.is-open {
  overflow: visible;
}

.#{$nb-namespace}o-flyout:hover > .#{$nb-namespace}o-flyout__content,
.#{$nb-namespace}o-flyout.is-open > .#{$nb-namespace}o-flyout__content {
  /**
   * Undo the properties set from `nb-visually-hidden` mixin.
   **/
  height: auto;
  width: auto;
  margin: auto;
  overflow: visible;
  clip: auto;
  clip-path: none;
}
