.nb-o-grid {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

@include nb-gutters;

@if $nb-use-grid-zero-font-size {
  .nb-o-grid {
    font-size: 0;
  }

  .nb-o-grid__item {
    font-size: $nb-base-font-size;
  }
}

.nb-o-grid--equal-height,
.nb-o-grid--equal-height > .nb-o-grid__item {
  display: flex;
}

.nb-o-grid--equal-height > *,
.nb-o-grid--equal-height > .nb-o-grid__item > * {
  width: 100%;
}

.nb-o-grid--equal-height {
  flex-wrap: wrap;
}

.nb-o-grid--center > .nb-o-grid__item {
  vertical-align: middle;
}

.nb-o-grid--bottom > .nb-o-grid__item {
  vertical-align: bottom;
}

.nb-o-grid--reverse {
  direction: rtl;
  text-align: left;
}

.nb-o-grid--reverse > .nb-o-grid__item {
  direction: ltr;
  text-align: left;
}

.nb-o-grid__item {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 1px;
  vertical-align: top;
  text-align: left;
}
