.#{$nb-namespace}u-flush {
  margin: 0 !important;
}

.#{$nb-namespace}u-flush-bottom {
  margin-bottom: 0 !important;
}

.#{$nb-namespace}u-flush-left {
  margin-left: 0 !important;
}

.#{$nb-namespace}u-push {
  margin: $nb-spacing-unit !important;
}

.#{$nb-namespace}u-push-bottom {
  margin-bottom: $nb-spacing-unit !important;
}

.#{$nb-namespace}u-push-left {
  margin-left: $nb-spacing-unit !important;
}

.#{$nb-namespace}u-soft {
  padding: $nb-spacing-unit !important;
}

.#{$nb-namespace}u-soft-top {
  padding-top: $nb-spacing-unit !important;
}

.#{$nb-namespace}u-soft-right {
  padding-right: $nb-spacing-unit !important;
}

.#{$nb-namespace}u-soft-bottom {
  padding-bottom: $nb-spacing-unit !important;
}

.#{$nb-namespace}u-soft-left {
  padding-left: $nb-spacing-unit !important;
}

.#{$nb-namespace}u-hard {
  padding: 0 !important;
}

.#{$nb-namespace}u-hard-top {
  padding-top: 0 !important;
}

.#{$nb-namespace}u-hard-right {
  padding-right: 0 !important;
}

.#{$nb-namespace}u-hard-bottom {
  padding-bottom: 0 !important;
}

.#{$nb-namespace}u-hard-left {
  padding-left: 0 !important;
}
