$nb-use-site-wrap: false;
$nb-use-flag: false;
$nb-use-bare-list: false;
$nb-use-inline-list: false;
$nb-use-matrix-list: false;
$nb-use-grid: true;
$nb-use-grid-zero-font-size: true;
$nb-use-grid-gutter-breakpoints: true;
$nb-use-grid-matrix: true;
$nb-use-grid-equal-height: true;
$nb-use-grid-vertical-align: true;
$nb-use-grid-reverse: true;
