$nb-site-wrap-width: 60rem !default;
$nb-spacing-unit: 1rem !default;
// $nb-base-line-height: 1.5 !default;
// $nb-base-font-size: 16px !default;

$nb-breakpoints: (
  xs: 460px,
  sm: 720px,
  md: 960px,
  lg: 1200px
) !default;

$nb-spacing-percentages: (
  def: 75%,
  xs:  100%,
  sm:  125%
) !default;
