@mixin nb-list-spacing($class, $side) {
  $modifier: '--spaced';
  @if $class == 'matrix-list' {
    $modifier: '';
  }
  @each $key, $value in $nb-list-spacing {
    $compound-class: '#{$nb-namespace}o-#{$class}#{$modifier}-#{$key}';

    @if $key == 'def' {
      $compound-class: '#{$nb-namespace}o-#{$class}#{$modifier}';
    }

    .#{$compound-class} {
      margin-#{$side}: -$value;
    }

    .#{$compound-class} > .#{$nb-namespace}o-#{$class}__item {
      padding-#{$side}: $value;
    }
  }
}
