@mixin ln-section() {
  @each $key, $value in $nb-section-spacing {
    $class: '--' + $key;

    @if $key == 'def' {
      $class: '';
    }

    .#{$nb-namespace}o-section#{$class} {
      padding-top: $value;
      padding-bottom: $value;
    }
  }
}
