.c-demo-button {
  display: inline-block;
  min-width: 135px;
  padding: $nb-spacing-unit ($nb-spacing-unit * 2);
  background: $demo-black;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-align: center;

  &:hover,
  &:focus {
    background: mix(#fff, $demo-black, 15%);
  }
}
