$grid-equal-height: true !default;
$grid-centered:     true !default;
$grid-bottom:       true !default;
$grid-gutter-sm:    true !default;
$grid-no-gutter:    true !default;


/** WIDTHS */
$use-width-one-whole:        true !default;
/**
 * $HALVES
 */
$use-width-one-half:         true !default;
/**
 * $THIRDS
 */
$use-width-one-third:        true !default;
$use-width-two-thirds:       true !default;
/**
 * $QUARTERS
 */
$use-width-one-quarter:      true !default;
$use-width-two-quarters:     true !default;
$use-width-three-quarters:   true !default;
/**
 * $FIFTHS
 */
$use-width-one-fifth:        true !default;
$use-width-two-fifths:       true !default;
$use-width-three-fifths:     true !default;
$use-width-four-fifths:      true !default;
/**
 * $SIXTHS
 */
$use-width-one-sixth:        true !default;
$use-width-two-sixths:       true !default;
$use-width-three-sixths:     true !default;
$use-width-four-sixths:      true !default;
$use-width-five-sixths:      true !default;
/**
 * $EIGHTS
 */
$use-width-one-eighth:       true !default;
$use-width-two-eighths:      true !default;
$use-width-three-eighths:    true !default;
$use-width-four-eighths:     true !default;
$use-width-five-eighths:     true !default;
$use-width-six-eighths:      true !default;
$use-width-seven-eighths:    true !default;
/**
 * $TENTHS
 */
$use-width-one-tenth:        true !default;
$use-width-two-tenths:       true !default;
$use-width-three-tenths:     true !default;
$use-width-four-tenths:      true !default;
$use-width-five-tenths:      true !default;
$use-width-six-tenths:       true !default;
$use-width-seven-tenths:     true !default;
$use-width-eight-tenths:     true !default;
$use-width-nine-tenths:      true !default;
/**
 * $TWELFTHS
 *
 */
$use-width-one-twelfth:      true !default;
$use-width-two-twelfths:     true !default;
$use-width-three-twelfths:   true !default;
$use-width-four-twelfths:    true !default;
$use-width-five-twelfths:    true !default;
$use-width-six-twelfths:     true !default;
$use-width-seven-twelfths:   true !default;
$use-width-eight-twelfths:   true !default;
$use-width-nine-twelfths:    true !default;
$use-width-ten-twelfths:     true !default;
$use-width-eleven-twelfths:  true !default;
