/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes to offset grid items to the left hand side. The classes
 * contain fractions that describe by how much the component gets Pushed.
 * setting the `left` value.
 *
 * You can also assign what breakpoint this will begin at.
 * `push-one-whole@sm-up` for example will push the component 100% to the right
 * on all screens larger than then `$screen-sm` breakpoint.
 */



@mixin fractions($breakpoint: null) {
    $fractions: (
        (one-whole,         1,          $use-push-one-whole),

        (one-half,          1/2,        $use-push-one-half),

        (one-third,         1/3,        $use-push-one-third),
        (two-thirds,        2/3,        $use-push-two-thirds),

        (one-quarter,       1/4,        $use-push-one-quarter),
        (two-quarters,      2/4,        $use-push-one-quarter),
        (three-quarters,    3/4,        $use-push-one-quarter),

        (one-fifth,         1/5,        $use-push-one-fifth),
        (two-fifths,        2/5,        $use-push-two-fifths),
        (three-fifths,      3/5,        $use-push-three-fifths),
        (four-fifths,       4/5,        $use-push-four-fifths),

        (one-sixth,         1/6,        $use-push-one-sixth),
        (two-sixths,        2/6,        $use-push-two-sixths),
        (three-sixths,      3/6,        $use-push-three-sixths),
        (four-sixths,       4/6,        $use-push-four-sixths),
        (five-sixths,       5/6,        $use-push-five-sixths),

        (one-eighth,        1/8,        $use-push-one-eighth),
        (two-eighths,       2/8,        $use-push-two-eighths),
        (three-eighths,     3/8,        $use-push-three-eighths),
        (four-eighths,      4/8,        $use-push-four-eighths),
        (five-eighths,      5/8,        $use-push-five-eighths),
        (six-eighths,       6/8,        $use-push-six-eighths),
        (seven-eighths,     7/8,        $use-push-seven-eighths),

        (one-tenth,         1/10,       $use-push-one-tenth),
        (two-tenths,        2/10,       $use-push-two-tenths),
        (three-tenths,      3/10,       $use-push-three-tenths),
        (four-tenths,       4/10,       $use-push-four-tenths),
        (five-tenths,       5/10,       $use-push-five-tenths),
        (six-tenths,        6/10,       $use-push-six-tenths),
        (seven-tenths,      7/10,       $use-push-seven-tenths),
        (eight-tenths,      8/10,       $use-push-eight-tenths),
        (nine-tenths,       9/10,       $use-push-nine-tenths),

        (one-twelfth,       1/12,       $use-push-one-twelfth),
        (two-twelfths,      2/12,       $use-push-two-twelfths),
        (three-twelfths,    3/12,       $use-push-three-twelfths),
        (four-twelfths,     4/12,       $use-push-four-twelfths),
        (five-twelfths,     5/12,       $use-push-five-twelfths),
        (six-twelfths,      6/12,       $use-push-six-twelfths),
        (seven-twelfths,    7/12,       $use-push-seven-twelfths),
        (eight-twelfths,    8/12,       $use-push-eight-twelfths),
        (nine-twelfths,     9/12,       $use-push-nine-twelfths),
        (ten-twelfths,      10/12,      $use-push-ten-twelfths),
        (eleven-twelfths,   11/12,      $use-push-eleven-twelfths),
    );
    
    @each $fraction in $fractions {
        @if(nth($fraction,3)) {
            @if($breakpoint) {
                .push-#{nth($fraction,1)}#{nth($breakpoint,2)} {
                    left: nth($fraction,2)*100%;
                }
            } @else {
                .push-#{nth($fraction,1)} {
                    left: nth($fraction,2)*100%;
                }
            }
        }
    }
}

@mixin makePushOffsets() {
    $breakpoints: (
        ($screen-xxs,  \@xxs-up),
        ($screen-xs,   \@xs-up),
        ($screen-sm,   \@sm-up),
        ($screen-md,   \@md-up),
        ($screen-lg,   \@lg-up)
    );
    
    @include fractions();
    @each $breakpoint in $breakpoints {
        @media (min-width: (nth($breakpoint,1)+1)) {
            @include fractions($breakpoint);
        }
    }
}

@include makePushOffsets();
